@import "colors";

nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: -webkit-sticky; //for safari on ios
    position: sticky; //for standard browsers
    background-color: $first;
    top:0%;
    z-index: 10;

    > h1{
        text-transform: uppercase;
    }

    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;

        > a{
            color: $dark;
            margin: 1rem;
            font-weight: 400;

            &:hover{
                color: $third;
            }
        }
    }
}


.auth-buttons {
    display: flex;
    align-items: center;
  
    button {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      background-color: $second;
      color: white;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: $fourth;
      }
    }
  }